<div class="page-container">
  <div class="container text-center">
      <h1 class="title">Slowly</h1>
      <p class="subtitle">Like Speedy but Slowly</p>
    
      <div class="button-group">
          <button *ngIf="!isLoggedIn" routerLink="/login" class="btn btn-primary">Логин</button>
          <button *ngIf="!isLoggedIn" routerLink="/register" class="btn btn-secondary">Регистрация</button>
          <button *ngIf="isLoggedIn" routerLink="/viewOrders" class="btn btn-success">Поръчки</button>
          <button *ngIf="isLoggedIn" routerLink="/viewItems" class="btn btn-info">Продукти
          </button>
          <button *ngIf="isLoggedIn" (click)="logout()" class="btn btn-danger">Логаут</button>
      </div>
  </div>
</div>